 <!-- About -->
 <div id="about" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/About.JPG" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7 col-xl-6">
                <div class="text-container">
                    <div class="section-title">{{about.header}}</div>
                    <h2>{{about.content}}</h2>
                    <p>{{about.subcontent}}</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">{{about.point1}}</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">{{about.point2}}</div>
                        </li>
                    </ul>

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="25">1</div>
                            <div class="counter-info">{{about.happy}}<br>{{about.users}}</div>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="12">1</div>
                            <div class="counter-info">{{about.issues}}<br>{{about.solved}}</div>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="17">1</div>
                            <div class="counter-info">{{about.good}}<br>{{about.reviews}}</div>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div> <!-- end of text-container -->      
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of about -->