  <!-- Intro -->
  <div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">{{intro.heading}}</div>
                    <h2>{{intro.headingtwo}}</h2>
                    <p>{{intro.para}}</p>
                    <p class="testimonial-text">{{intro.aim}}</p>
                    <div class="testimonial-author">{{intro.creator}}</div>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/system.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of intro -->


<!-- Description -->
<div class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-stopwatch fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">{{intro.efficienttitle}}</h4>
                        <p>{{intro.efficientcontent}}</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-hand-holding-usd fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">{{intro.costtitle}}</h4>
                        <p>{{intro.costcontent}}</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <span class="hexagon"></span>
                        <i class="fas fa-recycle fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">{{intro.cleantitle}}</h4>
                        <p>{{intro.cleancontent}}</p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description -->
