
  <!-- Team -->
  <div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Team Of Consultants</h2>
                <p class="p-heading">We're only as strong and as knowledgeable as our team. So here are the men and women helping us achieve our goals.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Prabin.png" alt="alternative">
                    </div> <!-- end of image-wrapper -->
                    <p class="p-large">Prabin Thapaliya</p>
                    <p class="job-title">General Manager</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Pragya.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Pragya Thapaliya</p>
                    <p class="job-title">Chief Strategist</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Suson.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Suson Sapkota</p>
                    <p class="job-title">System Consultant</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Pratik.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Pratik Karki</p>
                    <p class="job-title">System Designer</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                  <!-- Team Member -->
                  <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Kshitiz.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Kshitiz Mainali</p>
                    <p class="job-title">Business Analyst</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                  <!-- Team Member -->
                  <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Riwaj.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">Riwaj Lama</p>
                    <p class="job-title">Designer</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->
                <!-- end of team member -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of team -->