
  <!-- Team -->
  <div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{team.header}}</h2>
                <p class="p-heading">{{team.headercontent}}</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Prabin.png" alt="alternative">
                    </div> <!-- end of image-wrapper -->
                    <p class="p-large">{{team.prabin}}</p>
                    <p class="job-title">{{team.post1}}</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Pragya.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">{{team.pragya}}</p>
                    <p class="job-title">{{team.post2}}</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Suson.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">{{team.suson}}</p>
                    <p class="job-title">{{team.post3}}</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Pratik.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">{{team.pratik}}</p>
                    <p class="job-title">{{team.post4}}</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                  <!-- Team Member -->
                  <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Kshitiz.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">{{team.kshitiz}}</p>
                    <p class="job-title">{{team.post5}}</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                  <!-- Team Member -->
                  <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/Riwaj.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">{{team.riwaj}}</p>
                    <p class="job-title">{{team.post6}}</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/jasmine.png" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large">{{team.jasmine}}</p>
                    <p class="job-title">{{team.post7}}</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div>
                <!-- end of team member -->
                <!-- end of team member -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of team -->